<%= nested_form_for @bid,html: {:id => 'bids', url: url} do |form| %>

  <% if bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% bid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form.hidden_field :project_id, :value => @project.id %>
  <%= form.hidden_field :user_id, :value => current_user.id %>


  
  <%= form.fields_for :installments,form.object.installments,html: {:id => 'installments'} do |fi|  %>

  <div class="my_insta">
    <%= fi.label :time,"Time",:class => "spacing" %><br>
    <%= fi.text_field :time, :class => "time_field",:required => true, placeholder: "In weeks" %>
  </div>
  <div class="my_insta">
    <%= fi.label :details,"Details" ,:class => "spacing" %><br>
    <%= fi.text_area :details , :class => "details_field",:required => true, placeholder:"Enter installment details.." %>
  </div>
  <div class="my_insta">
    <%= fi.label :budget,"Budget",:class => "spacing" %><br>
    <%= fi.text_field :budget, :class=> "budget_field",:required => true, placeholder:"In Rs ..." %>
  </div>

    <!-- <div class="" style="padding-left: 16px!important"> Do you want to Delete? <%#= form.check_box '_destroy'%>
    </div> -->
 <%end%>

<br>
<br>
  <div>
    <%= form.link_to_add "Add an installment", :installments, :id =>"add_installment",:class => "spacing" %>
    &nbsp;
    <%= form.submit "Create Bid",:class =>"newbid spacing disable_class",:id => "disable_me",:disabled => true %>
 </div>
  
<% end %>
<script type="text/javascript">
   $(document).ready(function(){

     $.validator.addMethod('positiveNumber',
          function (value) {
              return Number(value) > 0;
          }, 'Enter a positive number');

    $.validator.addMethod('limitNumber',
          function (value) {
              return Number(value) < 999;
          }, 'Enter a valid value');

    $('#bids').validate({

      errorElement: 'div'

     
    });

    $("#add_installment").click(function(){
       $("#disable_me").removeAttr("disabled");
// $("#disable_me").removeClass("disable_class");


    });

    

});
   $(document).ready(function() {
    setTimeout(function(){
      $('#error_explanation').fadeOut("slow",function(){
        $(this).remove();
      })
    },6500);


  });
$(document).on('nested:fieldAdded', function(event){


   
    $('.time_field').each(function(){
      $(this).rules( "add", {
    required: true,
    number: true,
    positiveNumber: true,
    limitNumber: true,
    messages: {
    required: "Time is mandatory",
    number: "Time can only be integer"
    }
    });
    });

    $('.details_field').each(function(){
      $(this).rules( "add", {
  required: true,
  minlength: 400,
  messages: {
    required: "Details are required",
    minlength: jQuery.validator.format("Please, at least {0} characters are necessary")
  }
  });
    });



 $('.budget_field').each(function(){
  $(this).rules( "add", {
    required: true,
    number: true,
    positiveNumber: true,
    limitNumber: true,
  messages: {
    required: "Budget is mandatory",
    number: "Budget can only be integer"
  }
  });

});

})


</script>
