
<input type="text" name="no_of_installments" id="number">

<%= nested_form_for @bid do |form| %>
  <% if bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% bid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :project_id, :value => params[:project_id] %>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <%= form.link_to_add "Add a installment", :installments, :id => "insta",style: "display:none" %>
  


  <% form.fields_for :installments do |fi| %>

  <div class="my_insta">
    <%= fi.label :time,"Time" %><br>
    <%= fi.text_field :time %>
  </div>
  <div class="my_insta">
    <%= fi.label :details,"Details" %><br>
    <%= fi.text_area :details %>
  </div>
  <div class="my_insta">
    <%= fi.label :budget,"Budget" %><br>
    <%= fi.text_field :budget %>
  </div>

 

  <%end%>

<br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



<script type="text/javascript">
   $(document).ready(function(){
        $("#number").keyup(function(){
          var no = $(this).val();
          $(".my_insta").hide();
            for(i=0;i<no;i++)
            {
              $("#insta").click();
            }



        });
    })
</script>