 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card" >
 
	 	<div class="card_background">
	 		<div class="ribbon-wrapper-all_project">
	        <div class="ribbon">
	          	<%= project.startup_project.user.company_name %>
	        </div>
	      	</div>
	 		<div class="alignment">
	 		<h2><%= project.name %></h2>
	 		
	 		<p>Budget : Rs. <%= project.budget %></p> |
	 		<p>Time : <%= project.time %> Weeks</p> |
	 		<p>Bids : <%= project.bids.count %></p>
	 		<br>
	 		<%= link_to client_project_path(:project_id => project) do%>
	 		<button> View Details </button>
	 		<%end%>
	 		</div>
	 	</div>
	 	
	 		
	 	
  </div>