<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding: 10px;">
	<div class="border">
		
			<div class="startup_brief">
				<img src="/assets/client_1.jpg" class="client_pic">
				<p><%= bid.user.company_name %></p>
			</div>
			<div id="brief_<%= bid.user.id %>">
			<div class="startup_details" >
				<hr style="margin-top: 0px;">
				<p>Rating</p>
				<hr>
				<p>Experience : <%= bid.user.experience %></p>

				<hr>
				<%@technologies=bid.user.technologies.ids %>
				<%@technologies.each do|tech|%>
				<span><%= Technology.find(tech).technology_name%></span>
				<%end%>
				<hr>
				
			</div>
		</div>
		
		<div id="insta_<%= bid.user.id %>" style="display: none;">
			<%bid.installments.each do |insta|%>
				<div>
					<img src="/assets/money_icon.png" height="40px" width="40px" style="padding: 5px;">
		  			Rs.<%= insta.budget %>
		
		  			<img src="/assets/clock.png" height="40px" width="40px" style="padding: 5px;">
		  			<%= insta.time %> Weeks
		  			<br>
		  			
		  				<p style="word-break: break-word"><%= raw insta.details %></p>
		  			<hr>
		  				
		  			
				</div>
			<%end%>
		</div>
		<button class="pref" id="<%= bid.user.id %>">Preferences</button>
		<button class="" id="show_insta_<%= bid.user.id %>">Installments</button>
	</div>
</div>