<div class="container-fluid top_image">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 outer_div" style="">
    <div class="div_with_text" >
       <h1><%= current_user.company_name %></h1>
       <ul id="myTab">
      <li class="click_me1" id="index"> <a href="#index" style="text-decoration: none; color: black;">Index</a></li>
      &nbsp;&nbsp;
      <li  class="click_me1" id="history"><a href="#history" style="text-decoration: none; color: black;">History</a></li>
    </ul>
      
    </div>
    
  </div>
  
</div>


<div class="container">

  <div id="tab2" style="display: none;">
    <% @completed_projects.reverse_each do |project| %>
   <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card" >
    <div class="card_background product">
      <div class="ribbon-wrapper">
        <div class="ribbon">
          <%= project.startup_project.user.company_name %>
          <% a = project.startup_project.user.id %>
        </div>
      </div>
      <div class="alignment">
      <h2><%= project.name %></h2>
      <p>No. of installments : <%= project.bids.where(:user_id => a).first.installments.count %> | </p>
      <p>Budget : Rs. <%= project.bids.where(:user_id => a).first.installments.map(&:budget).sum %></p> |
      <p>Time : <%= project.bids.where(:user_id => a).first.installments.map(&:time).sum %> Weeks</p> |
      <p></p>
      <br>
      <%= link_to client_project_path(:project_id => project) do%>
      <button> View Details </button>
      <%end%>
      </div>
    </div>
  </div>
  <%end%>
  </div>
  <div id="tab1" style="display: none;">
    <div class="row" style="height: 350px; margin-top: 50px;">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <canvas id="doughnut_chart" class="doughnut"></canvas>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <canvas id="line_chart" class="doughnut"></canvas>
</div>
  </div>

   </div>


</div>

<script type="text/javascript">

$(document).ready(function() {

     $("#index").click(function(e){
      $("#tab1").css("display","block");
      $("#tab2").css("display","none");
       var id = $(e.target).attr("href").substr(1);
       window.location.hash = id;
    });

    $("#history").click(function(e){
      $("#tab1").css("display","none");
      $("#tab2").css("display","block");
       var id = $(e.target).attr("href").substr(1);
       window.location.hash = id;
    });
    $(window).load(function() {
  
  var hash = window.location.href;
  var hash1 = window.location.hash;
  if (hash1 == "#history"){
      $("#tab2").show();
      $("#tab1").hide();
     
      
}else if (hash1 == "#index") {
  $("#tab1").show();
   $("#tab2").hide();
 
 
  }
  else{
    
  $("#tab1").show();
 

  }
window.hash.reload();
  });


 var ctx = document.getElementById("doughnut_chart");
 var ctx_1 = document.getElementById("line_chart");


var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Available','Bidding Completed','Working','Completed'],
      datasets: [
       {
        label: 'Points',
        backgroundColor: ['red','yellow','green','black'],
        data: <%= @array%>
      }
    ]
    },
    
    options: {
      animation: {
        animationScale: true
      }
    }
});

var myLineChart = new Chart(ctx_1, {
    type: 'line',
    data: {
      labels: <%=@my_count%>,
      datasets: [
       {
        label: 'Points',
        data: <%= @my_array%>
      }
    ]
    },
    options: {
      animation: {
        animationScale: true
      },
      scales: {
        yAxes: [{
            ticks: {
                fontSize: 30
            }
        }],
        xAxes: [{
            ticks: {
                fontSize: 30
            }
        }]
    }
    }
});


})
</script>










