
<% if notice %>
<div class="notice_wrapper">
  <p id="notice"><%= notice %></p>
</div>
<%end %>

<h2>CLIENT</h2>
<table>
	<thead>
		<th>Technology Id</th>
		<th>Total Time</th>
		<th>Total Budget</th>
		<th>Requirement</th>
	
<% @projects.each do |project| %>
</thead>
<tbody>
	<tr>
	<td>

<%= project.technology_id %></td>
<td>
<%=  project.time %></td>
<td>
<%=  project.budget %></td>
<td>
<%=  raw project.requirement %></td>

	
	
	

</tr>
<% end %>
</tbody></table>
<%= link_to 'add project', new_project_path %>



<script type="text/javascript">
	$(document).ready(function() {
		setTimeout(function(){
			$('.notice_wrapper').fadeOut("slow",function(){
				$(this).remove();
			})
		},2000);
	});
    
</script>

