
<% if notice %>
<div class="notice_wrapper">
  <p id="notice"><%= notice %></p>
</div>
<%end %>
<div class="container-fluid top_image">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 outer_div" style="">
    <div class="div_with_text" style="">
      <h1><%= current_user.company_name %></h1>
      <ul id="myTab">
      <li class="click_me1" id="underbidding"> <a href="#underbidding" style="text-decoration: none; color: black;">Underbidding Projects</a></li>
      &nbsp;&nbsp;
      <li  class="click_me1" id="working"><a href="#working" style="text-decoration: none; color: black;">Working Projects</a></li>
    </ul>
    </div>
    
  </div>
  
</div>






<div class="container">
	

<div class="row padding_20" id="parent">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="all">
<% if @project.count == 0 %>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
  <h1>YOU DON'T HAVE ANY PROJECTS</h1>
</div>
  <% else %> 
    <h1>ALL PROJECTS</h1>

		<% @projects.each do |project|%>
		<%= render(partial: '/client/all_projects',:locals => {:project => project}) %>
		<%end%>
    <%end%>
	</div>
</div>


	
<div class="row">
<div class="row padding_20" id="tab1">
 
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
	 
  <% if @project.count == 0 %>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
  <h1>YOU DON'T HAVE ANY UNDERBIDDING PROJECTS</h1>
</div>
  <% else %>  
  <h1 style="text-align: center;">UNDER BIDDING PROJECTS</h1>
	 <% @project.each do|project|%>
	<%= render(partial: '/client/currently_underbidding', :locals => {:project => project}) %>
	<%end%>

  <%end%>
	</div>
  
</div>


<div class="row padding_20" id="tab2">
    
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

    <% if @projects_alloted.count == 0 %>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
    <h1>YOU DON'T HAVE ANY WORKING PROJECTS</h1>
</div>
  <% else %>
<h1 style="text-align: center;">WORKING PROJECTS</h1>
 	<% @projects_alloted.each do|project|%>
 <%= render(partial: '/client/currently_working', :locals => {:project => project}) %>
 <%end%>

 <%end%>
</div>
 
</div>
	
</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		setTimeout(function(){
			$('.notice_wrapper').fadeOut("slow",function(){
				$(this).remove();
			})
		},2000);
   

    $("#underbidding").click(function(e){
      $("#all").css("display","none");
      $("#tab1").css("display","block");
      $("#parent").removeClass("padding_20");
      $("#tab2").css("display","none");
       var id = $(e.target).attr("href").substr(1);
       window.location.hash = id;
    });

    $("#working").click(function(e){
      $("#all").css("display","none");
      $("#parent").removeClass("padding_20");
      $("#tab1").css("display","none");
      $("#tab2").css("display","block");
      var id = $(e.target).attr("href").substr(1);
       window.location.hash = id;
    });


 });



	
    
$(window).load(function() {
  $("#all").show();
  var hash = window.location.href;
  var hash1 = window.location.hash;
  if (hash1 == "#underbidding"){
  $("#parent").removeClass("padding_20");
      $("#tab1").show();
      $("#tab2").hide();
      $("#all").hide();
      
}else if (hash1 == "#working") {
      $("#parent").removeClass("padding_20");
  $("#tab2").show();
   $("#tab1").hide();
  $("#all").hide();
 
  }
  else{
     $("#tab2").hide();
   $("#tab1").hide();
  $("#all").show();
 

  }
window.hash.reload();
  });


 
</script>

