<<<<<<< HEAD
<div class="container-fluid pro_page">
	<!-- <div class="requirements"> -->
	<!-- <div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p_head">
				Project Name 
				<%#= link_to 'Bid', client_project2_path %>
		</div>	
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p_tech">
			Technology
		</div>
	</div> -->
	<div class="row ">
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 p_req">
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p_req" style="background: rgba(255,255,255,0.8); margin-top: 20px; margin-bottom: 20px;">
			<h1>Project Name :</h1>
			<%= link_to 'Bid', client_project2_path %>
			<p>
				Charles Dillon "Casey" Stengel (/ˈstɛŋɡəl/; July 30, 1890 – September 29, 1975) was an American Major League Baseball right fielder and manager best known as the manager of both the championship New York Yankees of the 1950s, and later of the hapless expansion New York Mets. He was elected to the Baseball Hall of Fame in 1966.
=======
<div class="container">
	
<%= render(partial: '/client/project_details', :locals => {:project => @project}) %>


<%if @total == 0%>
<div class="row" style="padding: 10px;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 h_bidding">
			Biddings 
			<%= render '/client_preferences/form',client_preference: @client_preference ,project_id: @project_id%>
		</div>
	</div>
>>>>>>> 385ab09d2e5f96ba4a18eb590250ada4beb6899a

<% @all_users.each do|startup| %>

<%= render(partial: '/client/startups', :locals => {:startup => startup}) %>

<<<<<<< HEAD
				Stengel had become famous for his humorous and sometimes disjointed way of speech while with the Yankees, and these skills of showmanship served the expansion Mets well when they hired him in late 1961. He promoted the team tirelessly, as well as managing it to a 40–120 win–loss record, the most losses of any 20th century MLB team. The team finished last all four years he managed it, but was boosted by considerable support from fans. Stengel retired in 1965, and became a fixture at baseball events for the rest of his life. Although Stengel is sometimes described as one of the great managers in major league history, others have contrasted his success during the Yankee years with his lack of success at other times, and concluded he was only a good manager when given good players. Stengel is remembered as one of the great characters in baseball history.
			</p>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 p_req">
		</div>
	</div>
=======
<script type="text/javascript">
	$(document).ready(function(){
		var count=0;
		$("#show_insta_<%= startup.user.id %>").click(function(){
			if(count==0)
			{
				$("#brief_<%= startup.user.id %>").css("display","none");
				$("#insta_<%= startup.user.id %>").css("display","inline");
				count++;	
			}
			else
			{
				$("#insta_<%= startup.user.id %>").css("display","none");
				$("#brief_<%= startup.user.id %>").css("display","inline");
				count--;
			}
			
		});
	})
</script>

<%end%>
<%end%>
>>>>>>> 385ab09d2e5f96ba4a18eb590250ada4beb6899a
</div>


<script type="text/javascript">
	$(document).ready(function(){
		var id_array=[];
		var tep=0;
		var pos=0;
		var change=0;
		var count=0;
		$(".pref").click(function(){
			var id = $(this).attr('id');
			
			while(temp!=count)
			{
				if(id==id_array[temp])
				{
					change=1;
					pos=temp;
					break;
				}
				temp++;
			}
			if(change==1)
			{
				$(this).text("preferences");
				for(var i=temp;i<count;i++)
				{
					id_array[i]=id_array[i+1];
					var str1=id_array[i];
					var str2 ="#";
					var str3=str2.concat(str1);
					$(str3).text(i+1);
				}
				count--;
				change=0;
			}
			else
			{
				id_array[count]=id;
				count++;
				$(this).text(count);
			}
			temp=0;
		});

	




	$("#form").submit( function(eventObj) {
		
		// for(i=0;i<id_array.length;i++)
		// {
		// 	var str1="[";
		// 	var str2="]";
		// 	var str3=str1.concat(id_array[i]);
		// 	var str4=str3.concat(str2);
		// 	id_array[i]=str4;
		// }
		// alert(id_array);
		console.log(id_array)
      $('<input />').attr('type', 'hidden')
          .attr('name', "user_id")
          .attr('value', id_array)
          .appendTo('#form');
      $('<input />').attr('type', 'hidden')
          .attr('name', "project_id")
          .attr('value', <%= @project_id%>)
          .appendTo('#form');
      $('<input />').attr('type', 'hidden')
          .attr('name', "startup_status_id")
          .attr('value', 3)
          .appendTo('#form');
  });


	})
</script>