
<div class="container">



<%= render(partial: '/client/project_details', :locals => {:project => @project}) %>

<br>










<% if @project.project_status_id == 2%>

Under bidding

<% elsif @project.project_status_id == 1%>

<div class="row" style="padding: 10px;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
			
			<%= render '/client_preferences/form',client_preference: @client_preference ,project_id: @project_id%>
		</div>
	</div>
<div class="error">
	<h3  id="error" style="text-align: center;"></h3>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

<% @project.bids.each do|bid| %>

<%#= render(partial: '/client/startups', :locals => {:bid => bid}) %>



	<div class=" col-lg-4 col-md-6 col-sm-12 col-xs-12 border">

		
			<div class="startup_brief col-lg-12 col-md-12 col-sm-12 col-xs-12">
							</div>
			
			<div class="startup_details col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p class="company_name"><%= bid.user.company_name %></p></div>
				<div class="col-lg-8 col-xs-8 col-md-8 col-sm-8 text" style="padding: 0px;">
				<p>Rating</p>
				
				<p>Experience : <%= bid.user.experience %></p>

				
				<%@technologies=bid.user.technologies.ids %>
				<p>Technologies : </p>
				<%@technologies.each do|tech|%>
				<span><%= Technology.find(tech).technology_name%></span>
				<%end%>
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 buttons">

				<button class="pref" id="<%= bid.user.id %>">Preferences</button>
		<button class="pref1" id="show_insta_<%= bid.user.id %>" data-toggle="modal" data-target="#myModal_<%= bid.user.id %>" >Installments</button>
			</div>
				
				
			</div>
		
		
		
		
	</div>



	<div class="modal fade" id="myModal_<%= bid.user.id %>" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= bid.user.company_name %></h4>
         
        </div>
        <div class="modal-body">

        	<p class="total_insta">Total installments: <%= bid.installments.count %> | Total budget: Rs. <%= bid.installments.sum(:budget) %> | Total time: <%= bid.installments.sum(:time) %> Weeks</p> 
        	<hr>
        	
        	<%bid.installments.each do |insta|%>
				<div>
					<img src="/assets/money_icon.png" height="40px" width="40px" style="padding: 5px;">
		  			Rs.<%= insta.budget %>
		
		  			<img src="/assets/clock.png" height="40px" width="40px" style="padding: 5px;">
		  			<%= insta.time %> Weeks
		  			<br>
		  			<p><b>Description : </b></p>
		  				<p style="word-break: break-word"><%= raw insta.details %></p>
		  			<hr>
		  				
		  			
				</div>
			
			<%end%>
          
        </div>
        
      </div>
      
    </div>
  </div>



<%end%>
</div>

 
<% elsif @project.project_status_id == 3%>



<% elsif @project.project_status_id == 4%>
Completed
<%end%>

</div>


<script type="text/javascript">



 $(document).ready(function(){


		var id_array=[];
		var temp=0;
		var pos=0;
		var change=0;
		var count=0;
		$(".pref").click(function(){
			var id = $(this).attr('id');
			
			while(temp!=count)
			{
				if(id==id_array[temp])
				{
					change=1;
					pos=temp;
					break;
				}
				temp++;
			}
			if(change==1)
			{
				$(this).text("preferences");
				for(var i=temp;i<count;i++)
				{
					id_array[i]=id_array[i+1];
					var str1=id_array[i];
					var str2 ="#";
					var str3=str2.concat(str1);
					$(str3).text(i+1);
				}
				count--;
				change=0;
			}
			else
			{
				id_array[count]=id;
				count++;
				$(this).text(count);
			}
			temp=0;
		});

	




	$("#form").submit( function(eventObj) {


		if(id_array.length == 0)
		{
			$('#error').fadeIn("slow",function(){	
			})
			$('#error').css("padding","10px");
			$("#error").text("Select your preferences");
			setTimeout(function(){
			$('#error').fadeOut("slow",function(){	
			})
		},2000);
			return false;
		}
		else{
			$('<input />').attr('type', 'hidden')
          .attr('name', "user_id")
          .attr('value', id_array).attr('id',"user_id")
          .appendTo('#form');
      $('<input />').attr('type', 'hidden')
          .attr('name', "project_id")
          .attr('value', <%= @project.id%>)
          .appendTo('#form');
      $('<input />').attr('type', 'hidden')
          .attr('name', "startup_status_id")
          .attr('value', 3)
          .appendTo('#form');
		}

  	});
	})
</script>