<div class="container-fluid" >
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 frnds_background">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
    </div>

   <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pro_form">
     <h2 style="text-align: center; color: black;">New Project</h2> 
  
    
<%= form_with(model: project, local: true,html: {:id => 'projects'} ) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
    <%= form.label :name %>
   
  <%= form.text_field :name,:required => true, :id => 'name', placeholder: "Project's name.." %>
<% @start = StartupTechnology.new %>
<% @technology = Technology.all %>
 
     <%= form.label :technology_ids,"Technology" %>
      &nbsp;
   
<%= form.collection_select :technology_id, @technology,:id, :technology_name,{}, :id =>'technology_id' %>
   
 <br>


 
   
<%= form.hidden_field :user_id, :value => current_user.id %>

    
  <%= form.hidden_field :project_status_id, :value => '1' %>
  
    <%= form.label :requirement %>
  <%= form.cktext_area :requirement,:class => 'ckeditor',:id => 'ckeditor1', :required => true, placeholder: "Your requirement.... " %> 
  
    <%= form.label :budget %>
  <%= form.text_field :budget, :id =>'budget',:required => true, placeholder: "Enter your budget" %>
  
    <%= form.label :time %>
   <%= form.text_field :time, :id =>'time',:required => true, placeholder: "Time in weeks"%>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>
<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
    </div>
</div>
</div>

    <script type="text/javascript">
  
  $(document).ready(function(){
    $('#projects').validate({

      
    });

    $.validator.addMethod('positiveNumber',
          function (value) {
              return Number(value) > 0;
          }, 'Enter a positive number');

    $.validator.addMethod('limitNumber',
          function (value) {
              return Number(value) < 99999999999999;
          }, 'Enter a valid value');


  
    $("#name").rules("add",{
      required: true,
      minlength: 2,
      messages: {
        required: "Project name is mandatory",
        minlength: jQuery.validator.format("Please, at least {0} characters are necessary")
      }
    });
    $("#budget").rules("add",{
      required: true,
      minlength: 2,
      number: true,
      positiveNumber: true,
      messages: {
        required: "budget is mandatory",
        minlength: jQuery.validator.format("Please, at least {0} characters are necessary")
      }
    });
    $("#time").rules("add",{
      required: true,
      minlength: 2,
      number: true,
      positiveNumber: true,
      limitNumber: true,
      messages: {
        required: "time is mandatory",
        minlength: jQuery.validator.format("Please, at least {0} characters are necessary")
      }
    });
$("#ckeditor1").rules("add",{
      required: true,
      minlength: 400,
      messages: {
        required: "requirement is mandatory",
        minlength: jQuery.validator.format("Please, at least {0} characters are necessary")
      }
    });

    $("#technology_id").rules("add",{
      required: true,
      messages: {
        required: "Select atleast one"
      }
    });


  });

</script>