<div>
		<h3 style="color: blue"><b><%= project.name %>
		<div class="job_offer">
		
		<%= link_to 'View',:controller=> "startup",:action=> "project_page", :project => project %>
	</div>	
		</b></h3>
		
	</div>
	<div>
	Company Name:	<%= project.user.company_name %>
	
	</div>
	<div>
	Company Logo:	<%= %>
	</div>
	<div>
		Technology:
		<%= project.technology.technology_name %>
	</div>
	<div>
		Few Lines: <%=  raw project.requirement.first(300) %>........... 
	</div>
	 <div>
		<%#= link_to 'Accept'%>
	<!-- </div> 
	<div> -->
		<%#= link_to 'Reject'%>
	</div> 
	
	<div class="accept_btn">
		<%= link_to 'Accept',startup_job_offer1_path(:decide => 'accept',:project_id => project.id),method: :post %>
	<%= link_to 'Reject',startup_job_offer1_path(:decide => 'reject',:project_id => project.id ),method: :post%>
	</div>
	<br>
