

		<div class="pro">
		<h3><b><%= project.name %></b></h3>
		<hr style="margin-top: 0px; margin-bottom: 0px;">
	</div>
	
	<div>
		<b>Technology: </b><%= project.technology.technology_name %>
		
	</div>
	<div><b>Requirement:</b>
		<%= raw project.requirement.first(300) %>...........
	</div>
	<div>
		<b>Company Email: </b><%= project.user.email %>
	</div>
	<div>
		<b>Total Time: </b><%= project.time %> weeks
	</div>
<hr style="margin-top: 0px;">
	<div class="job_offer1">

		<%= link_to 'View Details',:controller=> "startup",:action=> "project_page", :project => project %>
	</div>

