
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card" >
	 	<div class="card_background">
	 		<div class="alignment">
	 		<h2><%= project.name %></h2>
	 		
	 		<p><img src="/assets/email1.png" height="30" width="30" style="padding: 5px;"><%= project.user.email %> </p> |
	 		<p><img src="/assets/tech4.png" height="30" width="30" style="padding: 5px;"><%= project.technology.technology_name %> |
	 		<p><img src="/assets/clock.png" height="30" width="30" style="padding: 5px;"><%= project.time %> weeks</p>
	 		<br>
	 		<%= link_to  :controller=> "startup",:action=> "project_page", :project => project  do%>
	 		<button> View Details </button>
	 		<%end%>
	 		</div>
	 	</div>
	 	
	 		
	 	
  </div>

