<div class="container-fluid">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 frnds_background">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 frnds_content">
			<%if @request_connections.count == 0%>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no_request_message_outer">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no_request_message">
					<p>YOU DON'T HAVE ANY FRIEND REQUEST</p>
				</div>
			</div>
			<%else%>
			<% @request_connections.each do|rc| %>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 request_text">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 middle">
						<div class="middle_table">
							<p>
								Company Name  :
								<%= rc.user.company_name %>
							</p>
							<p>
								Email Id :
								<%= rc.user.email %>
							</p>
							<p>
								Experience :
								<%= rc.user.experience %>
							</p>
							<p>
								Projects : <%= rc.user.projects.count %> <br>
								Available : <%= rc.user.projects.where(:project_status_id => 1).count %> |
								Alloted : <%= rc.user.projects.where(:project_status_id => 3).count %> |
								Completed : <%= rc.user.projects.where(:project_status_id => 3).count %>
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 request_text middle">
						<div class="middle_table">
							<%text = "ACCEPT"%>
							<%= render '/connections/form',:connection => @connection_new,:client_id => rc.user.id ,:text => text,:selection => "accept"%>
							<% text = "REJECT" %>

							<%= render '/connections/form',:connection => @connection_new,:client_id => rc.user.id ,:text => text,:selection => "reject"%>
						</div>
					</div>
				</div>
			<%end%>
			
			<%end%>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
	$(".frnds_background").css("height", $(window).height());
});
$(window).resize(function(){
	$('.frnds_background').css('height',$(window).height());
});
</script>