<h2>STARTUP</h2>
<% @projects.each do |project| %>
<%=  project.name %>
<br>
<%=  project.technology_id %>

<br>
<%=  project.time %>
<br>
<%=  project.budget %>
<br>
<%=  raw project.requirement %>

	<% end %>
	<%= link_to 'project details' %>