
<h2>STARTUP</h2>



<% @projects.each do |project| %>
<%=  project.name %>
<br>
<%=  project.technology_id %>

<br>
<%=  project.time %>
<br>
<%=  project.budget %>
<br>
<%=  raw project.requirement %>
<%= link_to 'project details',project_detail_path %>
<br>

	<% end %>
	

<% if notice %>
<div class="notice_wrapper">
  <p id="notice"><%= notice %></p>
</div>
<% end %>



<script type="text/javascript">
	$(document).ready(function() {
		setTimeout(function(){
			$('.notice_wrapper').fadeOut("slow",function(){
				$(this).remove();
			})
		},2000);
	});
    
</script>
