
<% if notice %>
<div class="notice_wrapper">
  <p id="notice"><%= notice %></p>
</div>
<% end %>


<h2>STARTUP</h2>
<table>
	<thead>
		<th>Project Name</th>
		<th>Technology Id</th>
		<th>Time</th>
		<th>Budget</th>
		<th>Requirement</th>
	


<% @projects.each do |project| %>
</thead>
<tbody>
	<tr>
		<%= project.id %>


		<td>
<%=  project.name %></td>
<td>

<%=  project.technology_id %></td>

<td>
<%=  project.time %></td>
<td>

<%=  project.budget %></td>
<td>
<%=  raw project.requirement %></td>
<td>
	
<%= link_to 'project details',project_detail_path(project.id) %></td>

</tr>

	<% end %>
	
</tbody>
</table>


<script type="text/javascript">
	$(document).ready(function() {
		setTimeout(function(){
			$('.notice_wrapper').fadeOut("slow",function(){
				$(this).remove();
			})
		},2000);
	});
    
</script>
