


<div class="container-fluid">
  <div class="row" style="height: 600px;">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img2">
    <div class="log">
 
<h2  style="text-align: center;">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name),html: {:id => 'new_session'}) do |f| %>

<div class="flash_message">
 <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %> 
</div>


  <div class="field">
    <%= f.label :email %><br >
    <%= f.email_field :email, autofocus: true, autocomplete: "email",:require=> true, :id => "email_field" %>
  </div>

  <div class="field">
    <%= f.label :password %><br >
    <%= f.password_field :password, autocomplete: "off",:require=> true,:id => "password_field" %>
  </div>

  <div class="actions">
    
    <%= f.submit "Log in", :class =>"button button5" %>
    
  </div>
 
<% end %>
<%#= link_to "Log in", new_session_path(resource_name), :class =>"button button5" %>
<%= link_to 'Sign Up',  sign_index_path, :class =>"button button5" %> <br>

<%= link_to "Forgot your password?", new_password_path(resource_name), :class =>"button button5" %>
<br>
<br>
   

<%#= render "devise/shared/links" %>

</div>
</div>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    setTimeout(function(){
      $('.flash_message').fadeOut("slow",function(){
        $(this).remove();
      })
    },2500);


  });

$(document).ready(function(){
    $('#new_session').validate({

    });
    $( "#email_field" ).rules( "add", {
    required: true,
  messages: {
    required: "Email is mandatory"
  }
  });
    $( "#password_field" ).rules( "add", {
  required: true,
  messages: {
    required: "Password is required",
  
  }
  });
  });

    
</script>



