<!DOCTYPE html>
<html>
  <head>
    <title>MyCompany</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script>
  </head>

  <body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header" style="padding-left: 10px">
      <a class="navbar-brand" href="#"><img src="/assets/3.png" height="50" width="50"></a>
    </div>
    <ul class="nav navbar-nav list_nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Our Team</a></li>
      <li><a href="#">Contact Us</a></li>
      <% if user_signed_in? %>
      <li><%= link_to 'Requests', startup_friends_path %></li>
      <li><%= link_to 'Log Out', destroy_user_session_path,method: :delete%></li>

      <% else %>
      <li><%= link_to 'Log In', new_user_session_path%></li>
      <% end %>
    </ul>
  </div>
</nav>



 
<div class="content">

  


    <div class="wrapper">


    <%= yield %>

 
</div>
</div>
       <script>
            $(document).ready(function(){
            $(window).on("scroll",function(){
            var wn = $(window).scrollTop();
            if(wn > 120){
            $(".navbar").css("background","rgba(255,255,255,0)");
            }
            else{
            $(".navbar").css("background","rgba(255,255,255,0)");
            }
             });
            });

            $(window).bind("load", function(){
              var wn = $(window).height();
              var ft = $('.footer').height();
              var h = $('.navbar').height();
              var calculate = wn - ft - h ;
              $(".wrapper").css("min-height",calculate);
            });

            window.onresize = resize;
function resize() {
   var wn = $(window).height();
              var ft = $('.footer').height();
              var h = $('.navbar').height();
              var calculate = wn - ft - h ;
              $(".wrapper").css("min-height",calculate);
}

          </script>

          
  </body>
</html>




