<!DOCTYPE html>
<html>
  <head>
    <title>MyCompany</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script>
  </head>

  <body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin-bottom: 0px;">
  <div class="container-fluid">
    <div class="navbar-header navbar-left navbar navbar-fixed-top">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="outer">
        <div id="logo">
          <%= link_to root_path do %>
    <%= image_tag '3.png', alt: 'a face that is unnervingly happy'%>
<% end %>
<span class="tag-line hidden-xs">LOPEWORK</span>
    </div>
      </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" style="padding-right: 10px;">

        <%if user_signed_in?%>
        <li><%= link_to 'LOG OUT', destroy_user_session_path,method: :delete%></li>
        <li>
          <%= link_to 'EDIT', edit_user_registration_path(current_user)%>
        </li>
        <%else%>
        <li>

          <%= link_to 'Our team', root_path %>
        </li>
        <li>
         <a href="#footer1">Contact Us </a>
        </li>
         <li>
         <%= link_to 'Sign-Up',  sign_index_path %> 
        </li>      
          <li>
          <%= link_to "Login", new_user_session_path %>
        </li>
        <%end%>
        
      </ul>
    </div>
  </div>
  </div>
</nav>


 
<div class="content">

   <script>
            $(document).ready(function(){
            $(window).on("scroll",function(){
            var wn = $(window).scrollTop();
            if(wn > 120){
            $(".navbar").css("background","rgba(255,255,255,1)");
            }
            else{
            $(".navbar").css("background","rgba(255,255,255,1)");
            }
             });
            });
          </script>


    <div class="wrapper">
      <div class="main">

    <%= yield %>
</div>
 
</div>

      <footer class="footer" id="footer1">
        <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <img src="/assets/3.png" height="40">
            <span class="line">LOPEWORK</span>
            <p>
              A community of curated startup talent available to work for you remotely at the click of a button.

            </p>

            
          </div>
           <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

            <ul style="list-style-type: none;">
                          <h4><span class="glyphicon glyphicon-user"></span>Team Member:</h4>
            <li>Mohit Singh Sangwan

        </li>
        <li>Akanksha
        </li>

            <li>Mohit Singh Sangwan

        </li>
         <li>Akanksha
        </li>
               
             </ul>
           </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
             <p>Contact us and we'll get back to you within 24 hours:</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Chandigarh, india</p>
      <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span> lopework@gmail.com</p> 
              
            </div>
            </div>
          </div>
        </footer>
      </div>
       <script>
            $(document).ready(function(){
            $(window).on("scroll",function(){
            var wn = $(window).scrollTop();
            if(wn > 120){
            $(".navbar").css("background","rgba(255,255,255,1)");
            }
            else{
            $(".navbar").css("background","rgba(255,255,255,1)");
            }
             });
            });

            $(window).bind("load", function(){
              var wn = $(window).height();
              var ft = $('.footer').height();
              var h = $('.navbar').height();
              var calculate = wn - ft - h ;
              $(".wrapper").css("min-height",calculate);
            });

            window.onresize = resize;
function resize() {
   var wn = $(window).height();
              var ft = $('.footer').height();
              var h = $('.navbar').height();
              var calculate = wn - ft - h ;
              $(".wrapper").css("min-height",calculate);
}

          </script>
   
          
  </body>
</html>




