<!DOCTYPE html>
<html>
  <head>
    <title>MyCompany</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script>
  </head>

  <body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin-bottom: 0px;">
  <div class="container-fluid">
    <div class="navbar-header navbar-left navbar navbar-fixed-top" style="border-bottom-width: 0px; margin-bottom: 0px;">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="outer">
        <div id="logo">
    <%= link_to root_path do %>
          <%= image_tag '3.png', alt: 'a face that is unnervingly happy'%>
<% end %>

 <h5 class="tag-line hidden-xs">Lopework</h5>
    </div>
      </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" style="padding-right: 10px;">

        <%if user_signed_in?%>
        <li><%= link_to 'LOG OUT', destroy_user_session_path,method: :delete%></li>
        <li>
          <%= link_to 'EDIT', edit_user_registration_path(current_user)%>
        </li>
        <%else%>
        <li>

          <%= link_to 'Our team', root_path %>
        </li>
        <li>
         <a href="#footer1">Contact Us </a>
        </li>
         <li>
         <%= link_to 'Sign Up',  sign_index_path %> 
        </li>      
          <li>
          <%= link_to "Login", new_user_session_path %>
        </li>
        <%end%>
        
      </ul>
    </div>
  </div>
  </div>
</nav>


 
<div class="content">

   <script>
            $(document).ready(function(){
            $(window).on("scroll",function(){
            var wn = $(window).scrollTop();
            if(wn > 120){
            $(".navbar").css("background","rgba(255,255,255,1)");
            }
            else{
            $(".navbar").css("background","rgba(255,255,255,1)");
            }
             });
            });
          </script>


    <div class="wrapper">
      <div class="main">

    <%= yield %>
</div>
 
</div>

      <footer class="footer" id="footer1">
        <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <ul style="list-style-type: none;">
              <li>
            <img src="/assets/3.png" height="40">
            <span class="line">Lopework</span></li>


            <li>
              A community of curated startup talent available to work for you remotely at the click of a button.

            </li>

            </ul>
          </div>
           <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

            <ul style="list-style-type: none;">
                          <li><span class="glyphicon glyphicon-user"></span>Team Member:</li>
            <li>Mohit Singh Sangwan

        </li>
        <li>Akanksha
        </li>

            <li>Mohit Singh Sangwan

        </li>
         <li>Akanksha
        </li>
               
             </ul>
           </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <ul style="list-style-type: none; ">
             <li>Contact us and we'll get back to you within 24 hours:</li>
      <li><span class="glyphicon glyphicon-map-marker"></span> Chandigarh, india</li>
      <li><span class="glyphicon glyphicon-phone"></span> +00 1515151515</li>
      <li><span class="glyphicon glyphicon-envelope"></span> lopework@gmail.com</li> 
              
            </div>
            </div>
          </div>
        </footer>
      </div>
       <script>
            $(document).ready(function(){
            $(window).on("scroll",function(){
            var wn = $(window).scrollTop();
            if(wn > 120){
            $(".navbar").css("background","rgba(255,255,255,1)");
            }
            else{
            $(".navbar").css("background","rgba(255,255,255,1)");
            }
             });
            });

            $(window).bind("load", function(){
              var wn = $(window).height();
              var ft = $('.footer').height();
              var h = $('.navbar').height();
              var calculate = wn - ft - h ;
              $(".wrapper").css("min-height",calculate);
            });

            window.onresize = resize;
function resize() {
   var wn = $(window).height();
              var ft = $('.footer').height();
              var h = $('.navbar').height();
              var calculate = wn - ft - h ;
              $(".wrapper").css("min-height",calculate);
}

          </script>
<!-- <<<<<<< HEAD
         <script type="text/javascript">
  $(document).ready(function() {
 $(window).bind("load", function() {

  var $footer = $("#footer");

   positionFooter();

   function positionFooter() {

          if ( $(document.body).height() < $(window).height() ) {
               //must stick to bottom
               $footer.css({
                    position: "fixed",
                    bottom: 0,
                    left:0,
                    right:0
               })
           } else {
               $footer.attr("style", "");
           }

   }

   $(window).resize(positionFooter);
});
});
</script> 
=======
   
>>>>>>> 51c7f2f44df317f17c00b69b92bd7f51de3f2587 -->
          
  </body>
</html>




